#gallery-mine, #gallery-shared {
    position: relative;
}

div.throbber {
    position: absolute;
    top: 46px;
    right: 0px;
    background-color: #f00;
    color: #fff;
    padding: 2px;
}

#checkall {
    vertical-align: middle;
}

#frm_gallery {
    clear: both;
}

.tabs{
    background-color: transparent;
    float: left;
    margin: 20px 0;
    padding: 0;
}
/*.tabs ul.primary{
   border-bottom: 1px solid #DDDDDD;
    clear: both;
    float: left;
    margin: 0;
    padding: 0 10px;
}
body.page-profile .tabs ul.primary{
   margin: 0 0 0 6px;
}

.tabs ul.primary li{
    border-style: none;
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0 10px;
    padding: 0;
}
.tabs ul.primary li a span{
    background: none;
}
.tabs ul.secondary li a.active:link{
    border-bottom: 4px solid #555555;
    color: #777777;
    padding-bottom: 2px;
    font-size: 110%;
    line-height: 120%;
}

.tabs ul.secondary li a:link{
    color: #555555;
}

.tabs ul.primary li a.active:link{
    border-bottom: 4px solid #DDDDDD;
    color: #2B8099;
    padding-bottom: 2px;
    font-size: 110%;
    line-height: 120%;
}

.tabs ul.primary li a:link, .tabs ul.primary li a:visited{
    background-color: transparent;
    background-image: none;
    border: medium none;
    color: #666666;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0 0 6px;
    text-decoration: none;
    white-space: nowrap;
}
.tabs ul.primary li a:hover,
.tabs ul.primary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
  background: none;
}*/