div.swfupload-control { margin-bottom: 20px; margin-top: 10px; }
#filelist { list-style: none; margin: 0; padding: 0; margin-bottom: 20px; }
#filelist li { display: block; padding: 2px; border-bottom: solid #eee 1px; margin-bottom: 10px; }
div.filename { }
div.filesize { width: 25%; float: left; padding: 1px; }
div.filetype { width: 55%; float: right; padding: 1px; text-align: right; }
div.filetype input { vertical-align: middle; }
div.filestat { width: 15%; float: right; padding: 1px; text-align: right; }

